body {
    background-color: #fffbff;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}


h1 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

span.nobr { 
  white-space: nowrap; 
}

/* media queries */

@media only screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 630px) {
  body {
    font-size: 13px;
  }
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2.8vw;
  flex-shrink: 4;
  padding-left: 2vw;
  padding-bottom: 1rem;
  padding-top: 0.8rem;
  margin: auto 0;
  text-align: left;
}

header h1 a{
  background-color: rgba(36, 43, 97, 1);
  background-image: linear-gradient(90deg, rgba(36, 43, 97, 1) 0%, rgba(107, 77, 102, 1) 50%, rgba(99, 156, 187, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-color 0.2s ease-out;
}

header h1 a:hover {
  background-color:  rgb(253, 93, 93);
  background-image: none;
}

header ul {
  flex-shrink: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25vw 1vw 0.75vw 1vw;
  flex-wrap: wrap;
}

header li {
  flex-shrink: 3;
  margin-bottom: 0.5vw;
  letter-spacing: 0.05vw;
  font-size: 1.5vw;
  font-weight: 500;
  padding: 0 2vw;
}

header li a {
  color: rgb(50, 76, 163);
  transition: color 0.2s ease-out;
}

header li a:hover {
  color:  rgb(253, 93, 93);
}

/* media queries */

@media only screen and (max-width: 1000px) {
  header li {
    font-size: 1.7vw;
  }

  header h1 {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 860px) {
    header ul {
      justify-content: flex-end;
    }
    header li {
      font-size: 1.1rem;
    }
    
    header h1 {
      font-size: 1.9rem;
    }
}

@media only screen and (max-width: 715px) {
    header ul {
      flex-direction:column;
      justify-content: space-around;
      align-items: flex-end;
      margin: 0.1rem;
    }
    header li {
      margin: 0.15rem;
    }
}

@media only screen and (max-width: 600px) {
  header li {
    font-size: 1rem;
  }
  
  header h1 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 459px) {
  header h1 a{
    background-color: rgb(50, 76, 163);
    background-image: none;
  }
  
  header li {
    white-space: nowrap;
  }
}

/*main*/

.main {
  background-image: url(images/banner_painting.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vw;
  margin: auto;
}

.main a {
  border: 1px solid rgb(255, 255, 255);
  background-color: #2187caaf;
  width: fit-content;
  margin: auto;
  transition: transform 1.5s ease-in-out;
}

.main a:hover {
  background-color: rgba(254, 101, 101, 0.507);;
  transform: scale(1.5);
}

.main h1 {
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.966);
  padding: 1rem 2rem;
  letter-spacing: 0.15rem;
}

/* media queries */

@media only screen and (max-width: 1200px) {
  .main h1 {
    font-size: 1.5rem;
  }
  .main a:hover {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 733px) {
  .main h1 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 630px) {
  .main h1 {
    font-size: 1.3rem;
  }
  .main a:hover {
    transform: scale(1.1);
  }
}

/*works*/

.works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #e6f1fc;
}

.works>div, .works>a{
  background-color: white;
  padding: 1.5rem;
  color: rgb(50, 76, 163);
  transition: transform 1.2s ease-in-out, color 1.2s ease-in-out;
}

.works>div:hover, .works>a:hover {
  transform: scale(1.07);
  color:  rgb(252, 69, 69);
}

.works .image {
  height: 15rem;
  width: auto;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 1.8s;
}

.works h2 {
  transition: transform 1.8s;
}

.w1 .image {
  background-image: url(images/paintings.jpg);
}

.w2 .image {
  background-image: url(images/pastel.JPG);
}

.w3 .image {
  background-image: url(images/drawings.jpg);
}

.w4 .image {
  background-image: url(images/poster.jpg);
}

.w5 .image {
  background-image: url(images/web_design.png);
}

.w6 .image {
  background-image: url(images/logo.png);
}

.w7 .image {
  background-image: url(images/photography.JPG);
}

.w8 .image {
  background-image: url(images/rendery.jpg);
}

.w9 .image {
  background-image: url(images/motion.jpg);
  background-position: bottom;
  transition: background-image 1.2s ease-out;
}

.w9 .image:hover {
  background-image: url(images/motion2.jpg);
}

/* media queries */

@media only screen and (max-width: 863px) {
  .works {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
  }
  .w1 {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 650px) {
  .works {
    grid-template: repeat(6, 1fr)/ 1fr;
    gap: 1.3rem;
  }
  .w1 {
    grid-column: span 1;
  }
}

@media only screen and (max-width: 450px) {
  .works {
    padding: 1.2rem;
    gap: 1rem;
  }
  .works>div, .works>a {
    padding: 1.3rem;
  }
}

/*nav*/

nav {
  text-align: left;
  margin: 1rem 2vw;
}

nav a {
  color: rgb(50, 76, 163);
}

nav a:hover {
  color: rgb(252, 69, 69);
}

/*about me*/

.about-me {
  background-image: url(images/me.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vw;
  margin: 1rem auto 2rem;
}

.about-me p {
  background-color: #e6f1fc9d;
  padding: 1rem 2vw;
  font-weight: 500;
  line-height: 1.5rem;
}

/* media queries */

@media only screen and (max-width: 650px) {
  .about-me {
    margin: 1rem auto 1rem;
    height: 25rem;
  }
}

/*web designs*/

.web-design {
  display: grid;
  gap: 2rem;
  padding: 2rem 7vw;
  background-color: #e6f1fc;
}

.web-design>div, .web-design>a{
  color:rgb(50, 76, 163);
  background-color: white;
  padding: 1.5rem;
  transition: transform 1.2s ease-in-out, color 1.2s ease-in-out;
}

.web-design>div:hover, .web-design>a:hover {
  transform: scale(1.05);
  color:  rgb(252, 69, 69);
}

.web-design .image {
  height: 27rem;
  width: auto;
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: transform 1.8s;
}

.web-design h2 {
  transition: transform 1.8s;
}

.web0 .image {
  background-image: url(images/cgip_preview.png);
}

.web1 .image {
  background-image: url(images/diametros_preview.png);
}

.web2 .image {
  background-image: url(images/fwp_preview.png);
}

.web3 .image {
  background-image: url(images/portfolio_preview.jpg);
}

/* media queries */

@media only screen and (max-width: 715px) {
  .web-design {
    gap: 1.5rem;
    padding: 1.7rem 5vw;
  }
  .web-design .image{
    height: 40vw;
  }
  .web-design h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 650px) {
  .web-design {
    gap: 1.3rem;
  }
}

@media only screen and (max-width: 450px) {
  .web-design {
    padding: 1.2rem;
    gap: 1rem;
  }
  .works>div, .works>a {
    padding: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .web-design .image{
    height: 50vw;
  }
}

/* WEB PAGE */

/* fonts */

.web h2 {
  margin-bottom: 2rem;
}

.web h4 {
  text-align: left;
  margin-bottom: 1rem;
  color: #2186ca;
}

/* global web */

.web {
  color:rgb(50, 76, 163);
  padding: 1rem;
}

.web .flex {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.web .flex .column {
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* desktop */

#desktop {
  flex-basis: 1200px;
}

.desktop {
  flex-basis: 40vw;
}

/* mobile */

#parent {
  flex-basis: 1200px;
}

#child {
  padding: 0;
  justify-content: space-between;
  flex-basis: 1200px;
}

.web .two-child>.flex {
  padding: 0;
}

.scroll {
  overflow-y: scroll;
  border: thin solid #DADADA;
  display: flex;
}

/* tablet */

#child .t {
  flex-basis: 786px;
  margin-right: 0.5vw;
  justify-content: flex-end;
}

#t {
  flex-basis: 786px;
}

.tablet {
  flex-basis: 40rem;
}

/* smartphone */

#child .s {
  flex-basis: 400px;
  margin-left: 0.5vw;
  justify-content: flex-start;
}

#s {
  flex-basis: 400px;
}

.smartphone {
  flex-basis: 40rem;
}

/* image */

.web .image{
  width: 100%;
  height: 0;
  background-attachment: scroll;
  background-position: top;
  background-size:contain;
  background-repeat: no-repeat;
}

/* button */

.web a>button {
  height: 3rem;
  margin: 0.8rem 0;
  width: 12rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: rgba(255, 141, 141, 0.849) 1px solid;
  background-color: rgb(253, 93, 93);
  color:rgb(255, 255, 255);
  letter-spacing: 0.05rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.portfolio a>button, .cgip a>button {
  height: 3rem;
  margin: 0.2rem 0 0.7rem 0;
  width: 18rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
}

.web a>button:hover {
  background-color: rgb(255, 45, 45);
  border:rgb(253, 93, 93) 1px solid;
}

/* cgip */

.cgip .mainpage .image {
  background-image: url('images/CGiP_main_page.png');
  padding-top: 204.06%;
}

.cgip .categorypage .image {
  background-image: url('images/CGiP_Kategoria.png');
  padding-top: 183.44%;
}

.cgip .productpage .image  {
  background-image: url('images/CGiP_product.png');
  padding-top: 136.93%;
}

/* diametros */

.diametros .desktop .image {
  background-image: url('images/diametros_desktop.png');
  padding-top: 215.75%;
}

.diametros .tablet .image {
  background-image: url('images/diametros_tablet.png');
  padding-top: 215.0%;
}

.diametros .smartphone .image {
  background-image: url('images/diametros_smartphone.png');
  padding-top: 1259.5%;
}

/* portfolio */

.portfolio .desktop .image {
  background-image: url('images/web_portfolio_desktop.jpg');
  padding-top: 166.58%;
}

.portfolio .tablet .image {
  background-image: url('images/web_portfolio_tablet.jpg');
  padding-top: 312.72%;
}

.portfolio .smartphone .image {
  background-image: url('images/web_portfolio_smartphone.jpg');
  padding-top: 977.5%;
}

/* media queries */

@media only screen and (max-width: 1430px) {

  .desktop {
    flex-basis: 50vw;
  }

}

@media only screen and (max-width: 1195px) {

  .tablet, .smartphone {
    flex-basis: 32rem;
  }

}

@media only screen and (max-width: 1088px) {

  .web {
    padding: 0.5rem;
  }

  .tablet, .smartphone {
    flex-basis: 30rem;
  }

  #t, #s {
    padding: 0.5rem 0;
  }

  .desktop {
    flex-basis: 55vw;
  }
}

@media only screen and (max-width: 915px) {

  .tablet, .smartphone {
    flex-basis: 25rem;
  }

}

@media only screen and (max-width: 836px) {

  .web h4 {
    margin-bottom: 0.5rem;
  }

  .web .flex {
    padding: 0.5rem;
    flex-wrap: wrap;
  }

  #child .t,   #child .s {
    margin-right: 0vw;
  }

  .web .two-child>.s {
    padding: 0.5rem 0;
  }

  .tablet {
    flex-basis: 55vw;
  }

  .smartphone {
    flex-basis: 40rem;
  }
}

@media only screen and (max-width: 1000px) {
  .web a>button, .portfolio a>button, .cgip a>button {
    margin: 0 0 1rem 0;
  }
}

@media only screen and (max-width: 410px) {
  .web a>button {
    height: 2.5rem;
    margin: 0 0 0.5rem 0;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .portfolio a>button, .cgip a>button {
    height: 2.5rem;
    margin: 0 0 0.5rem 0;
    width: 18rem;
    font-size: 1rem;
  }

}

@media only screen and (max-width: 390px) {
  .smartphone {
    flex-basis: 35rem;
  }
}

/* FWP */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40vw;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.carousel .image {
  height: 100%;
  width:auto;
  background-position: top;
  background-size:contain;
  background-repeat: no-repeat;
}

.fwp #parent {
  flex-basis: 1250px;
}

.fwp #child {
  flex-basis: 1250px;
}

#fwp1 {
  background-image: url('images/fwp_main_artykul.png');
}

#fwp2 {
  background-image: url('images/fwp_main_poster.png');
}

#fwp3 {
  background-image: url('images/fwp_main_nagroda.png');
}

.fwp .tablet .image {
  background-image: url('images/fwp_tablet.png');
  padding-top: 108.14%;
}

.fwp .smartphone .image {
  background-image: url('images/fwp_smartphone.png');
  padding-top: 177.5%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (max-width: 1600px) {
  .carousel {
    margin-bottom: 1.5rem;
  }

  .carousel-item {
    height: 45vw;
  }
}

@media only screen and (max-width: 1300px) {
  .carousel {
    margin-bottom: 1rem;
  }

  .carousel-item {
    height: 55vw;
  }
}

@media only screen and (max-width: 490px) {

  .fwp .smartphone {
    flex-basis: 135vw;
  }

}

@media only screen and (max-width: 400px) {

  .carousel {
    margin-bottom: 0.5rem;
  }

  .carousel-item {
    height: 60vw;
  }

}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

}

/*footer*/

footer {
  background-color: rgba(36, 43, 97, 1);
  background-image: linear-gradient(90deg, rgba(36, 43, 97, 1) 0%, rgba(107, 77, 102, 1) 50%, rgba(99, 156, 187, 1) 100%);
  color:white;
  padding: 1vw 2vw;
  line-height: 1.5vw;
  text-align: left;
  font-size: 1vw;
}

footer>p {
  color:rgb(215, 237, 255)
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  font-size: 1.2vw;
}

.footer a {
  color: white;
}

.footer a:hover {
  color:black;
}

.footer .right {
  text-align: right;
}

.footer .center {
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 1267px) {
  footer {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding: 2vw 2vw;
  }

  .footer h3 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 840px) {
    footer {
      font-size: 1.7vw;
      line-height: 2.2vw;
      padding: 2vw 2vw;
    }
  
    .footer h3 {
      font-size: 2.2vw;
    }
  }

@media only screen and (max-width: 650px) {
    footer {
      font-size: 0.8rem;
      padding: 1rem 2rem;
      line-height: 1.2rem;
    }

    .footer {
      flex-direction: column;
    }

    .footer section {
      margin: 1rem 0;
    }

    .footer h3 {
      font-size: 1.1rem;
    }

    .footer a:hover {
      color:rgb(157, 211, 255)
    }

    .footer .right, .footer .center {
      text-align: left;
    }
  }